@import "~font-awesome/css/font-awesome.css";
@import 'reset.scss';
@import 'variables.scss';
@import 'tooltip.scss';
@import 'animated_checkmark.scss';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

body {
  position: relative;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

// disable the pinball scrollers for windows
*,
input[type=text],
input[type=number] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.load-draw-svg {
  stroke-dasharray: 211;
  stroke-dashoffset: 2110;
  stroke-width: 2;
  stroke-linecap: round;
  animation: dash 15s linear infinite;
  fill-opacity: 0;
  stroke: $main;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2110;
    opacity: 1;
    stroke: $main;
  }

  15% {
    opacity: 1;
    stroke: $main;
  }

  70% {
    opacity: 1;
    stroke: $main;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: darken($main, 10%);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// buttons

.buttonPrimary,
.buttonSecondary {
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
  padding: 18px 30px 15px;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1.5px;
  transition: none;
  position: relative;
  color: $white;
}

.buttonPrimary {
  background-color: $main;
  box-shadow: 0 3px 0 0 darken($main, 10%);

  &:active {
    box-shadow: inset 0 1px 1px 1px darken($main, 10%);
  }
}

.buttonPrimary.inactive {
  opacity: 0.5;
  cursor: auto;
}

.buttonPrimary.inactive:active {
  box-shadow: 0 3px 0 0 darken($main, 10%);
  transform: none;
}

.buttonSecondary {
  background-color: $secondary;
  box-shadow: 0 3px 0 0 darken($secondary, 10%);

  &:active {
    box-shadow: inset 0 1px 1px 1px darken($secondary, 10%);
  }
}

.buttonPrimary:active,
.buttonSecondary:active {
  transform: translate(0, 3px);
  outline: 0;
}

.buttonContainer.circleContainer {
  display: inline-block;
  width: auto;
  min-width: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.buttonContainer .circle {
  display: inline-block;
  border-radius: 50px;
}

.buttonContainer .circle.small {
  width: 50px;
  padding: 10px 0;
}

.buttonContainer.small {
  min-width: auto;
  padding: 0;
  border: none;
  margin: 0 auto;
  width: 80%;
}

.buttonContainer .small.active {
  box-shadow: inset 0 1px 1px 1px #1f4b2e;
  transform: translate(0, 3px);
  outline: 0;
  background: #002280;
}

.buttonContainer.small .buttonPrimary {
  padding: 10px 5px;
  font-size: 15px;
}

// network

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

// each node in the map
// .network-node {
//
// }

// each channel in the map
.network-link {
  opacity: 0.6;
}

.active-peer {
  fill: #5589f3;
}

.active-channel {
  opacity: 1;
  stroke: #88d4a2;
  stroke-width: 15;
  stroke-dasharray: 100;
  animation: dash 2.5s infinite linear;
}
