@import '~font-awesome/css/font-awesome.css';
@import 'reset.scss';
@import 'variables.scss';
@import 'tooltip.scss';
@import 'animated_checkmark.scss';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcaCWcynf_cDxXwCLxiixG1c.ttf)
      format('truetype');
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

// disable the pinball scrollers for windows
*,
input[type='text'],
input[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.load-draw-svg {
  stroke-dasharray: 211;
  stroke-dashoffset: 2110;
  stroke-width: 2;
  stroke-linecap: round;
  animation: dash 15s linear infinite;
  fill-opacity: 0;
  stroke: $main;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2110;
    opacity: 1;
    stroke: $main;
  }

  15% {
    opacity: 1;
    stroke: $main;
  }

  70% {
    opacity: 1;
    stroke: $main;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: darken($main, 10%);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// network

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

// each node in the map
// .network-node {
//
// }

// each channel in the map
.network-link {
  opacity: 0.6;
}

.active-peer {
  fill: #5589f3;
}

.active-channel {
  opacity: 1;
  stroke: #88d4a2;
  stroke-width: 15;
  stroke-dasharray: 100;
  animation: dash 2.5s infinite linear;
}
