@import 'styles/variables.scss';

.container {
  position: absolute;
  z-index: 1001;
  background: $red;
  color: $white;
  width: 100%;
  text-align: center;
  padding: 20px;
  transition: all 0.25s ease;

  &.closed {
    max-height: 0;
    padding: 0;

    .content .close {
      opacity: 0;
    }
  }

  .content {
    position: relative;

    .close {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 2rem;
    }

    h2 {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 1.5px;
      font-weight: bold;
    }
  }
}
