@import '../../../../../../../variables.scss';

.peer {
	position: relative;
	background: $white;
	padding: 10px;
	border-top: 1px solid $grey;
	cursor: pointer;
	transition: all 0.25s;

	&:hover {
		opacity: 0.75;
	}

	&:first-child {
		border: none;
	}

	h4, h1 {
		margin: 10px 0;
	}

	h4 {
		font-size: 14px;
		font-weight: bold;
		color: $black;
	}

	h1 {
		font-size: 18px;
		font-weight: 200;
		color: $main;
	}
}