@import '../../variables.scss';

.modalChannel {
	padding: 40px;
}

.header {
	margin-bottom: 50px;

	h1 {
		color: $black;
		text-align: center;
		margin-bottom: 5px;
		font-weight: bold;
	}

	h2 {
		color: $darkestgrey;
		font-size: 14px;
		text-align: center;

		&:hover {
			color: $main;
			text-decoration: underline;
		}
	}
}

.balances {
	.capacity {
		text-align: center;
		align-items: center;

		h3 {
			color: $main;
			font-size: 40px;
		}

		span {
			color: $black;
			font-size: 16px;
		}
	}

	.balance {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.local, .remote {
			flex: 5;
			padding: 10px 30px;
			text-align: center;

			h4 {
				font-size: 20px;
				color: $main;
			}

			span {
				color: $black;
				font-size: 12px;
			}
		}
	}
}

.details {
	width: 75%;
	margin: 20px auto;

	dt {
		text-align: left;
    float: left;
    clear: left;
    font-weight: 500;
    padding: 20px 35px 19px 0;
    color: $black;
    font-weight: bold;
	}

	dd {
		text-align: right;
    font-weight: 400;
    padding: 19px 0;
    margin-left: 0;
    border-top: 1px solid $darkgrey;
	}
}

.close {
	text-align: center;

	div {
		width: 35%;
		margin: 0 auto;
		cursor: pointer;
		height: 55px;
		min-height: 55px;
		text-transform: none;
		font-size: 18px;
		transition: opacity .2s ease-out;
		background: $red;
    color: $white;
    border: none;
    font-weight: 500;
    padding: 0;
    text-align: center;
    line-height: 55px;
    transition: all 0.25s;
    border-radius: 5px;

    &:hover {
    	background: darken($red, 10%);
    }
	}
}

.active {
	color: $darkestgrey;
	text-align: center;
	margin-top: 50px;
	text-transform: uppercase;
}
