{
  "presets": [
    ["env", {
      "targets": {
        "node": 8,
        "browsers": "electron 2.0"
      },
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ],
  "plugins": ["add-module-exports", "dynamic-import-webpack"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        ["flow-runtime", {
          "assert": true,
          "annotate": true
        }],
        ["react-intl-auto", {
          "removePrefix": "app/",
           "filebase": false
        }]
      ]
    }
  }
}
