{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": 0,
    "indent": 2,
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/no-array-index-key": 0,
    "react/forbid-prop-types": 0,
    "camelcase": 0,
    "react/require-default-props": 0,
    "max-len": ["error", 150],
    "import/no-extraneous-dependencies": 0,
    "no-new": 0
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["app"]
      },
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
