# App source
package.json
package-lock.json
.git
.babelrc
node_modules
coverage

# App packaged
release
app/main.prod.js
app/main.prod.js.map
app/renderer.prod.js
app/renderer.prod.js.map
app/style.css
app/style.css.map
app/utils/bech32.js
dist
dll
main.js
main.js.map

# Storybook
storybook-static
