{
  "bracketSpacing": true,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [
        ".babelrc",
        ".commitlintrc",
        ".eslintrc",
        ".huskyrc",
        ".lintstagedrc",
        ".prettierrc",
        ".stylelintrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
