{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-styled-components"
  ],
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "rules": {
    "no-descending-specificity": null,
    "no-empty-source": null
  }
}
