os: unstable

platform:
  - x64

environment:
  DEBUG: electron-builder
  nodejs_version: '12'

init:
  - ps: Install-Product node $env:nodejs_version x64
  - cmd: set NODE_OPTIONS=--max-old-space-size=4096

cache:
  - node_modules -> package.json

matrix:
  fast_finish: true

build: off

version: '{build}'

shallow_clone: true

clone_depth: 1

skip_branch_with_pr: true

install:
  - set CI=true
  - yarn

test_script:
  - yarn lint-ci
  - yarn test-ci

on_failure:
  - ps: $root = Resolve-Path .\screenshots; [IO.Directory]::GetFiles($root.Path, '*.*', 'AllDirectories') | % { Push-AppveyorArtifact $_ -FileName $_.Substring($root.Path.Length + 1) -DeploymentName to-publish }

deploy_script:
  - cmd: powershell if (($env:appveyor_repo_name -eq 'LN-Zap/zap-desktop') -and (($env:appveyor_repo_branch -eq 'master') -or ($env:appveyor_repo_branch -eq 'next') -or ($env:appveyor_repo_branch -eq 'build'))) { yarn release --win }
