os: unstable

environment:
  DEBUG: electron-builder
  matrix:
    - nodejs_version: STABLE

cache:
  - node_modules -> package.json
  - app/node_modules -> app/package.json
  - flow-typed

matrix:
  fast_finish: true

build: off

version: '{build}'

shallow_clone: true

clone_depth: 1

skip_branch_with_pr: true

install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - yarn

test_script:
  - yarn lint-ci
  - yarn test-ci

deploy_script:
  - cmd: powershell if (($env:appveyor_repo_name -eq 'LN-Zap/zap-desktop') -and ($env:appveyor_repo_branch -eq 'master')) { yarn release --win }
