@import '../../../variables.scss';

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes fadein {
  0%   { background: $white; }
  50%  { background: lighten($secondary, 50%); }
  100% { background: $secondary; animation-fill-mode:forwards; }
}

.container {
  width: 100%;
  height: 100vh;
  animation: fadein 0.5s;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;

  line.active {
    opacity: 1;
    stroke: green;
    stroke-width: 5;
    stroke-dasharray: 100;
    animation: dash 2.5s infinite linear;
  }

  circle {
    cursor: pointer;
  }
}

.network, .data {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
}

.network {
  width: 70%;
}

.data {
  width: 30%;
  background: $black;
  color: #00FF00;
  word-wrap: break-word;
  overflow-y: scroll;

  header, .routes {
    padding: 10px;
  }

  header {
    margin-top: 50px;

    h1 span {
      display: block;
      margin: 5px 0;

      &:nth-child(2) {
        font-size: 12px;
      }
    }
  }

  .routes {
    .route {
      cursor: pointer;
      margin: 20px 0;

      &.active {
        background: #00FF00;
        color: black;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}