@import '../../../variables.scss';

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes fadein {
  0%   { background: $white; }
  50%  { background: lighten($secondary, 50%); }
  100% { background: $secondary; animation-fill-mode:forwards; }
}

.container {
  width: 100%;
  height: 100vh;
  animation: fadein 0.5s;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;

  line.active {
    opacity: 1;
    stroke: green;
    stroke-width: 5;
    stroke-dasharray: 100;
    animation: dash 2.5s infinite linear;
  }

  circle {
    cursor: pointer;
  }
}

.network, .toolbox {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
}

.network {
  width: 70%;
}

.toolbox {
  width: 30%;
  height: 100%;
  background: #353535;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  .tab {
    color: $white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #464646;
    transition: all 0.5s;

    &:nth-child(1) {
      border-bottom: 1px solid #588CF0;
    }

    &.peersTab {
      border-bottom: 1px solid #588CF0; 
    }

    &.channelsTab:hover {
      border-bottom: 1px solid #88D4A2; 
    }

    &.transactionsTab:hover {
      border-bottom: 1px solid #FFDC53; 
    }
  }
}