@import 'styles/variables.scss';

.container {
  color: var(--primaryText);

  section {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 200;
    line-height: 20px;

    .description {
      width: 80%;
      // opacity: 0.25;
      transition: all 0.25s;
    }

    &:hover .description {
      opacity: 0.5;
    }

    .button {
      width: 30%;
      text-align: center;
      display: flex;
      padding: 20px;
      border: 1px solid var(--primaryText);
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.25s;
      margin: 15px 20px 10px 0;
    }

    &.active {
      .button {
        color: var(--lightningOrange);
        border-color: var(--lightningOrange);
      }

      .description {
        opacity: 0.8;
        color: var(--lightningOrange);
      }
    }

    .button:hover {
      color: var(--lightningOrange);
      border-color: var(--lightningOrange);
    }

    .label {
      margin-left: 15px;
    }

    .superscript {
      vertical-align: super;
      font-size: 10px;
    }
  }
}
