@import 'styles/variables.scss';

.container {
  color: var(--primaryText);

  section {
    margin-bottom: 20px;

    &.enable {
      &.active {
        div {
          color: var(--lightningOrange);
          border-color: var(--lightningOrange);
        }
      }

      div:hover {
        color: var(--lightningOrange);
        border-color: var(--lightningOrange);
      }
    }

    &.disable {
      &.active {
        div {
          color: var(--lightningOrange);
          border-color: var(--lightningOrange);
        }
      }

      div:hover {
        color: var(--lightningOrange);
        border-color: var(--lightningOrange);
      }
    }

    div {
      width: 30%;
      display: inline-block;
      padding: 20px;
      border: 1px solid var(--primaryText);
      border-radius: 5px;
      font-weight: 200;
      cursor: pointer;
      transition: all 0.25s;
    }

    .label {
      margin-left: 15px;
    }
  }
}
