@import 'styles/variables.scss';

.container {
  color: $white;

  section {
    margin-bottom: 20px;

    &.enable {
      &.active {
        div {
          color: $gold;
          border-color: $gold;
        }
      }

      div:hover {
        color: $gold;
        border-color: $gold;
      }
    }

    &.disable {
      &.active {
        div {
          color: $gold;
          border-color: $gold;
        }
      }

      div:hover {
        color: $gold;
        border-color: $gold;
      }
    }

    div {
      width: 185px;
      display: inline-block;
      padding: 20px;
      border: 1px solid $white;
      border-radius: 5px;
      font-weight: 200;
      cursor: pointer;
      transition: all 0.25s;
    }

    .label {
      margin-left: 15px;
    }
  }
}
