@import '../../../styles/variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: $lightgrey;
  padding: 20px;

  .status {
    font-size: 12px;
    color: $darkestgrey;

    &.online {
      color: $green;
    }

    span {
      margin-left: 5px;
    }
  }

  .closeContainer {
    background: $lightgrey;
    line-height: 12px;

    span {
      color: $darkestgrey;
      cursor: pointer;
    }
  }
}

.container section {
  margin-bottom: 30px;
  padding: 0 20px;

  .pay,
  .receive,
  .sent,
  .received {
    margin: 40px 0;
  }
}

.container .title {
  margin: 0;
  padding: 30px 20px;
  background: $lightgrey;

  h1 {
    color: $secondary;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 12px;
    color: $darkestgrey;
    font-weight: 100;
  }
}

.stats {
  h4 {
    color: $secondary;
    font-weight: bold;
    font-size: 12px;
  }

  span {
    font-size: 14px;
  }

  p {
    margin-top: 10px;
    color: $darkestgrey;
  }

  .meter,
  .amount {
    height: 10px;
    border-radius: 10px;
  }

  .meter {
    background: $darkgrey;
    width: 100%;
    margin: 10px 0;
  }

  .amount {
    background: $darkestgrey;
  }
}

.container footer {
  padding: 20px;
  text-align: center;

  div {
    color: $red;
    font-size: 18px;

    &:hover {
      color: lighten($red, 10%);
    }
  }
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  margin: 0 auto;
  height: 20px;
  width: 20px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}
