@import '../../styles/variables.scss';

.submenuHeader {
  padding: 15px;
  background: lighten(#1d1f27, 20%);
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.fiatTickers {
  height: 300px;
  overflow-y: scroll;

  .active {
    background: #0f0f0f;

    svg {
      height: 10px;
      width: 10px;
      color: $green;
    }
  }
}
