.container {
  background: var(--lightestBackground);
  position: absolute;
  width: 200px;
  top: 30px;
  left: -100px;
  z-index: z("settings-form", "modal");

  li {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      background: var(--darkestBackground);
    }
  }
}
