@import 'styles/variables.scss';

.container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $spaceblue;
  text-align: center;
}

.content {
  position: relative;
  top: calc(50% - 250px);
  min-height: 250px;

  .bolt svg {
    height: 155px;
    width: 150px;
  }

  h1 {
    color: $main;
    margin-top: 50px;
    font-size: 25px;
  }
}
