@import 'styles/variables.scss';

.submenuHeader {
  padding: 20px;
  background: var(--darkestBackground);
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  transition: all 0.25s;

  &:hover {
    opacity: 0.75;
  }
}

.locales {
  height: 300px;
  overflow-y: scroll;

  li {
    background: var(--lightestBackground);
    cursor: pointer;
    opacity: 0.75;
    transition: 0.25s hover;

    &:hover {
      background: var(--lightBackground);
    }

    &.active {
      opacity: 1;

      svg {
        height: 10px;
        width: 10px;
        color: var(--superGreen);
      }
    }

    span:nth-child(1) {
      line-height: 12px;
    }
  }
}
