@import 'styles/variables.scss';

.submenuHeader {
  cursor: pointer;
  padding: 20px;
  background: var(--primaryColor);
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  transition: all 0.25s;

  &:hover {
    opacity: 0.75;
  }
}

.locales {
  height: 300px;
  overflow-y: auto;

  li {
    background: var(--secondaryColor);
    cursor: pointer;
    opacity: 0.75;
    transition: 0.25s hover;

    &:hover {
      background: var(--tertiaryColor);
    }

    &.active {
      opacity: 1;

      svg {
        height: 10px;
        width: 10px;
        color: var(--superGreen);
      }
    }

    span:nth-child(1) {
      line-height: 12px;
    }
  }
}
