@import '../../variables.scss';

.modal {
  width: 40%;
  min-height: 500px;
  margin: 50px auto;
  position: absolute;
  top: auto;
  left: 20%;
  right: 0;
  bottom: auto;
  background: $white;
  outline: none;
  z-index: -2;
  border: 1px solid $darkgrey;
}

.header {
   padding: 20px;
   background: $lightgrey;
   text-align: center;
   font-family: 'Jigsaw Light';
   text-transform: uppercase;
   position: relative;
   z-index: -2;
}

.progress {
   transition: all 0.2s ease;
   background: $main;
   position: absolute;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
}
