@import '../../variables.scss';

.peers {
  h2 {
    text-transform: uppercase;
    font-weight: 200;
    padding: 10px 0;
    border-bottom: 1px solid $grey;
    color: $darkestgrey;
  }
}

.search {
  height: 50px;
  padding: 2px;
  border-bottom: 1px solid $darkgrey;

  .input {
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  .label {
    width: 5%;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }

  .text {
    width: 95%;
    outline: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-size: 16px;
  }
}

.peer {
  position: relative;
  background: $white;
  padding: 10px;
  border-top: 1px solid $grey;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    opacity: 0.5;
  }

  &:first-child {
    border: none;
  }

  h4, h1 {
    margin: 10px 0;
  }

  h4 {
    font-size: 12px;
    font-weight: bold;
    color: $black;
  }

  h1 {
    font-size: 14px;
    font-weight: 200;
    color: $main;
  }
}