@import '../../variables.scss';

.container {
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background: #31343F;
}

.closeContainer {
  text-align: right;
  padding: 20px 40px 0px;

  span {
    cursor: pointer;
    opacity: 1.0;
    transition: 0.25s all;

    &:hover {
      opacity: 0.5;
    }
  }

  svg {
    color: $white;
  }
}