@import '../../variables.scss';

.container {
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background: #31343F;
}

.closeContainer {
  text-align: right;
  padding: 20px 40px 0px;

  span {
    cursor: pointer;
    opacity: 1.0;
    transition: 0.25s all;

    &:hover {
      opacity: 0.5;
    }
  }

  svg {
    color: $white;
  }
}


.content {
  padding: 0 40px;
  font-family: Roboto;
  color: $white;

  .header {
    padding: 20px 100px;

    h1 {
      margin-bottom: 15px;
      font-size: 20px;
    }

    p {
      text-align: left;
      line-height: 1.3;
      font-size: 12px;
    }
  }
}

.header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $spaceborder;

  h1 {
    font-size: 22px;
    font-weight: 100;
    margin-top: 10px;
    letter-spacing: 1.5px;
  }
}

.title {
  margin: 50px 0;

  h2 {
    font-size: 14px;
    background: $spaceblue;
    padding: 10px;
    border-radius: 17.5px;
    display: inline;
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    font-size: 40px;
    max-width: 230px;
  }
}

.input input {
  background: transparent;
  outline: none;
  border: 0;
  color: $gold;
  -webkit-text-fill-color: $white;
  width: 100%;
  font-weight: 200;
}

.input input::-webkit-input-placeholder, ::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.currency {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .currentCurrency {
    cursor: pointer;
    transition: 0.25s all;

    &:hover {
      opacity: 0.5;
    }

    span {
      font-size: 14px;
      
      &:nth-child(1) {
        font-weight: bold;
      }
    }

  }

  ul {
    visibility: hidden;
    position: absolute;
    top: 30px;

    &.active {
      visibility: visible;
    }

    li {
      padding: 8px 15px;
      background: #191919;
      cursor: pointer;
      transition: 0.25s hover;
      border-bottom: 1px solid #0f0f0f;

      &:hover {
        background: #0f0f0f;
      }
    }
  }
}

.usdAmount {
  margin-top: 20px;
  opacity: 0.5;
}
