@import '../../../variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $lightgrey;

  .titleContainer {
    padding: 20px 40px;

    .left {
      padding: 10px 0;

      h1 {
        text-transform: uppercase;
        font-size: 26px;
        margin-right: 5px;

        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
        }
      }
    }
  }

  .newFriendContainer {
    padding: 20px 40px;

    .newFriendButton {
      box-shadow: none;
      transition: all 0.25s;
      padding-top: 12px;
      padding-bottom: 10px;
      font-size: 14px;

      &:hover {
        background: darken($main, 10%);
      }

      span {
        display: inline-block;
        vertical-align: top;

        &:nth-child(1) svg {
          width: 14px;
          height: 14px;
          margin-right: 5px;
        }
      }
    }
  }
}

.search {
  height: 55px;
  padding: 2px 25px;
  border-top: 1px solid $darkgrey;
  border-bottom: 1px solid $darkgrey;
  background: $white;

  .input {
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  .label {
    width: 5%;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }

  .text {
    width: 95%;
    outline: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-size: 16px;
  }
}

.filtersContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 40px;

  h2, h2 span {
    color: $bluegrey;
    cursor: pointer;
    transition: color 0.25s;

    &:hover {
      color: lighten($bluegrey, 10%);
    }
  }
  
  h2, .filters li {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $darkestgrey;
    font-size: 14px;
    font-weight: 400;
  }

  h2 span.pulldown {
    color: $main;
  }

  .filters {
    display: none;
    
    &.active {
      display: block;
      position: absolute;
      bottom: -100px;
      z-index: 10;

      li {
        margin: 5px 0;
        cursor: pointer;

        &:hover {
          color: $main;
        }
      }
    }
  }
  
  .refreshContainer {
    text-align: right;
    cursor: pointer;

    .refresh {
      cursor: pointer;
      color: $darkestgrey;
      transition: all 0.25s;

      &:hover {
        color: $main;
      }

      svg {
        font-size: 12px;
        color: $darkestgrey;

        &:hover {
          color: $darkestgrey;
        }
      }
    }
  }
}

.friends {
  padding: 10px 0 60px 0;
  opacity: 1;
  transition: all 0.25s;

  &.fade {
    opacity: 0.05;
  }
}
