@import 'styles/variables.scss';

.container {
  position: relative;
  height: 100vh;
  background: #2a2d38;
}

.titleBar {
  height: 20px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: #1c1e26;
}

.content {
  color: $white;
  text-align: center;
  background: #1c1e26;

  header {
    text-align: left;
    padding: 20px 40px;
  }

  .title {
    margin: 30px;
    background: #1c1e26;

    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .address {
    background: #1c1e26;

    .textAddress {
      margin-top: 20px;

      span {
        font-size: 12px;

        &.text {
          background: #2a2d38;
          padding: 10px;
        }

        &.icon {
          background: #383b47;
          padding: 10px;
          cursor: pointer;
          transition: all 0.25s;
          color: $white;

          &:hover {
            opacity: 0.25;
          }
        }

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .qrcode {
    border-style: solid;
    border-color: white;
    border-width: 2px;
  }
}

.progressContainer {
  color: $white;
  text-align: center;
  margin-top: 10%;
  padding: 40px;
  background: #2a2d38;

  h3 {
    margin-bottom: 20px;
  }

  .progressBar {
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    height: 10px;
    border-radius: 5px;
    background: $spaceborder;
  }

  .progress {
    background: $gold;
    background: #dea326;
    height: 10px;
    border-radius: 5px;
    transition: all 0.25s;
  }

  h4 {
    color: $gold;
    margin-top: 10px;
  }

  .progressDetail {
    color: $gold;
    font-size: 12px;
    margin-top: 10px;
  }
}

.spinner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  margin: 0 auto;
  height: 75px;
  width: 75px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}
