@import 'styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  max-width: 960px;
  margin: 0 auto;
  height: 76px;
  align-items: center;
  border-bottom: 1px solid $grey;
  font-size: 14px;
  transition: background-color 0.1s linear;
  transition-delay: 0.1s;
  color: $darkestgrey;
  position: relative;
}

.icon {
  display: block;
  margin-right: 20px;
  flex: none;
  position: relative;
  width: 36px;
  height: 36px;
  border: 1px solid $darkestgrey;
  border-radius: 50%;

  svg {
    color: $main;
    font-size: 16px;
    vertical-align: middle;
    display: flex;
    top: 0;
    left: 50%;
    height: 100%;
    margin: 0 auto;
  }
}

.data {
  display: flex;
  flex-direction: row;
  flex: 6 0;

  .title {
    flex: 8 0;
  }

  .subtitle {
    padding-left: 20px;
    flex: 2 0;
  }
}

.subtitle,
.date {
  text-align: center;
}

.date {
  padding-left: 20px;
  flex: 1 0;
}

.amount {
  flex: 1 0;
  padding-left: 20px;

  &.positive {
    color: $main;
  }

  span {
    display: block;

    &:nth-child(1) {
      font-size: 14px;
    }

    &:nth-child(2) {
      font-size: 10px;
    }

    .value {
      font-size: 14px;
    }
  }
}
