@import '../../../../../../variables.scss';

.container {
  .settled {
    position: absolute;
    top: 0;
    padding: 10px 0 10px 40px;
    color: $darkestgrey;

    svg {
      line-height: 20px;
      font-size: 10px;
      vertical-align: middle;
    }

    span {
      font-size: 12px;
      margin-left: 5px;
    }
  }

  header {
    background: $lightgrey;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    color: $black;
    font-weight: bold;
    padding: 10px 40px;
  }

  h1 {
    color: $main;
    padding: 10px 40px;

    .value {
      font-size: 30px;
    }

    i {
      margin-left: 2px;
      vertical-align: top;
    }
  }

  .qrcode {
    text-align: center;
    margin-top: 40px;

  }

  .input {
    padding: 10px 40px;

    .paymentRequest {
      text-align: center;
      font-size: 12px;
      padding: 15px;
      background: $lightgrey;
      border: 1px solid transparent;
      display: block;
      width: 90%;
      margin: 20px auto 0 auto;
    }
  }

  .date {
    text-align: center;
    padding-bottom: 40px;
    margin-top: 20px;

    time {
      margin-left: 3px;
    }
  }
}