@import 'styles/variables.scss';

.container {
  position: relative;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  background: var(--darkestBackground);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--gradient);
  padding: 15px 10px;
  color: var(--white);

  input {
    background: transparent;
    outline: 0;
    border: 0;
    color: var(--white);
    font-size: 14px;
    width: 90%;
  }

  .closeIcon {
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;
    }

    svg {
      height: 14px;
      width: 14px;
    }
  }
}

.nodes {
  background: var(--lightestBackground);

  .networkResults {
    overflow-y: auto;
    padding: 30px 10px 0 10px;
    color: var(--primaryText);
    min-height: 131px;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;

      h2 {
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1.3px;

        span {
          display: inline-block;
          vertical-align: middle;

          &:nth-child(1) {
            font-size: 10px;
            font-weight: bold;
            letter-spacing: 1.3px;
          }

          &:nth-child(2) {
            display: block;
            color: $darkestgrey;
            font-size: 8px;
            margin-top: 5px;
          }
        }
      }

      .connect {
        cursor: pointer;
        color: $darkestgrey;
        transition: all 0.25s;
        font-size: 10px;

        &:hover {
          color: darken($darkestgrey, 10%);
        }
      }

      .inactive {
        font-size: 10px;
        display: inline-block;
        vertical-align: top;

        &.online {
          color: $green;
        }

        &.offline {
          color: $darkestgrey;
        }

        &.pending {
          color: $orange;
        }

        &.private {
          color: darken($darkestgrey, 50%);
        }
      }
    }
  }
}

.manualForm {
  color: $white;
  text-align: center;
  margin: 0 25px;

  p {
    font-size: 14px;
    margin: 20px 0;
  }

  div {
    background: var(--lightningOrange);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.25s;
    border-radius: 5px;

    &:hover {
      opacity: 0.75;
    }
  }
}
