@import '../../../variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $lightgrey;
  padding: 20px 40px;

  h1 {
    text-transform: uppercase;
    font-size: 26px;
    margin-right: 5px;
  }
}

.search {
  height: 55px;
  padding: 2px 25px;
  border-top: 1px solid $darkgrey;
  border-bottom: 1px solid $darkgrey;
  background: $white;

  .input {
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  .label {
    width: 5%;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }

  .text {
    width: 95%;
    outline: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-size: 16px;
  }
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 40px;

  li {
    position: relative;
    width: 50%;
    text-align: center;
    margin: 20px 0;
    width: 400px;
    height: 400px;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;

      .info {
        padding: 50px 15px;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }

    .info {
      position: absolute;
      bottom: 0;
      width: calc(100% - 30px);
      padding: 15px;
      background: $darkgrey;
      cursor: pointer;
      transition: all 0.25s;
      text-align: left;
      line-height: 1.5;
    }
  }
}
