@import 'styles/variables.scss';

.container {
  margin: 0 auto;
  width: 500px;
}

.header {
  text-align: center;
  padding-bottom: 20px;
  color: var(--primaryText);
  border-bottom: 1px solid $spaceborder;

  h1 {
    font-size: 22px;
    font-weight: 100;
    margin-top: 10px;
    letter-spacing: 1.5px;
  }
}

.content {
  margin-top: 50px;
  color: var(--primaryText);

  .memo {
    margin-top: 35px;
  }

  .amount .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      font-size: 20px;
      max-width: 150px;
      border: 1px solid #404040;
      border-radius: 4px;
      padding: 15px;
    }
  }

  .top {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 14px;
    }
  }

  .bottom {
    display: flex;
    align-items: center;

    input {
      background: transparent;
      outline: none;
      border: 1px solid #404040;
      border-radius: 4px;
      color: var(--lightningOrange);
      -webkit-text-fill-color: var(--primaryText);
      font-size: 20px;
      width: 100%;
      font-weight: 200;
      padding: 15px;
    }

    input::-webkit-input-placeholder {
      text-shadow: none;
      -webkit-text-fill-color: initial;
    }
  }

  .fiatAmount {
    margin-top: 10px;
    opacity: 0.5;
    font-size: 14px;
  }

  .submit {
    margin-top: 50px;
    text-align: center;
  }
}
