@import 'styles/variables.scss';

.container {
  position: absolute;
  top: 0;
  z-index: z('form', 'container');
  height: 100vh;
  width: 100%;
  background: var(--lightestBackground);
}

.closeContainer {
  text-align: right;
  padding: 20px 40px 0;

  span {
    cursor: pointer;
    opacity: 1;
    transition: 0.25s all;

    &:hover {
      opacity: 0.5;
    }
  }

  svg {
    color: var(--primaryText);
  }
}
