@import '../../variables.scss';

.outtercontainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: $white;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s;

  &.open {
    opacity: 1;
    z-index: 20;
  }
}

.innercontainer {
  position: relative;
  height: 100vh;
  margin: 5%;
}

.esc {
  position: absolute;
  top: 0;
  right: 0;
  color: $darkestgrey;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;

  &:hover {
    color: $bluegrey;
    background: $darkgrey;
  }

  &:active {
    color: $white;
    background: $main;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}

.content {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  align-items: center;
}
