@import '../../variables.scss';

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

.amountContainer {
  position: relative;
  color: $main;
  display: flex;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 20px;
  min-height: 175px;
  border-bottom: 1px solid transparent;

  &.ln {
    opacity: 0.75;
  }

  &.error {
    border-color: $red; 
  }

  .amountError {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: $red;
    transition: all 0.25s ease;

    &.active {
      opacity: 1;
    }
  }
  
  label, input[type=number], input[type=text] {
    color: inherit;
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }

  label {
    svg {
      width: 85px;
      height: 85px;
    }

    svg[data-icon='ltc'] {
      margin-right: 10px;

      g {
        transform: scale(1.75) translate(-5px, -5px);
      }
    }
  }
  
  input[type=number], input[type=text] {
    width: 100px;
    font-size: 180px;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    font-weight: 200;
  }
}

.inputContainer {
  position: relative;
  width: 100%;
  padding: 40px 0;
  cursor: pointer;

  .info {
    margin-bottom: 10px;
    min-height: 19px;
  }

  .paymentIcon {
    position: absolute;
    width: 20%;
    left: calc(-12.5% - 75px);
    top: 42px;
    color: $main;
    font-size: 50px;
    text-align: center;

    span {
      text-transform: uppercase;
      display: block;
      font-size: 12px;
      font-weight: 200;
    }
  }
}

.input {
  display: flex;
  justify-content: center;
  font-size: 18px;
  height: auto;
  min-height: 55px;
  border: 1px solid $traditionalgrey;
  border-radius: 6px;
  position: relative;
  padding: 0 20px;

  &.error {
    border-color: $red;
  }

  label, input[type=number], input[type=text] {
    font-size: inherit;
  }

  label {
    padding-top: 19px;
    padding-bottom: 12px;
    color: $traditionalgrey;
  }

  input[type=text] {
    width: 100%;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    height: 55px;
    padding: 0 10px;
  }
}

.payInputError {
  margin: 10px 0;
  min-height: 20px;
  color: $red;
  opacity: 0;
  transition: all 0.25s ease;

  &.active {
    opacity: 1;
  }
}

.buttonGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  overflow: hidden;

  .button {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2px;

    &:first-child {
      border-right: 1px solid lighten($main, 20%);
    }

    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }
}