@import '../../../../variables.scss';

.payments {
	width: 75%;
	margin: 0 auto;
	background: $white;
}

.payment, .paymentTitles {
	display: flex;
	flex-direction: 'row';
	padding: 35px 10px;
	border-bottom: 1px solid $grey;
	font-size: 14px;

	.left, .center, .right {
		display: inline-block;
		vertical-align: top;
	}

	.center, .right {
		flex: 1;
	}

	.left {
		flex: 7;
	}
}

.paymentTitles {
	border: none;

	.left, .center, .right {
		color: $black;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
	}
}


.payment {
	cursor: pointer;

	&:hover {
		background: lighten($grey, 5%);
	}
}
