@import 'styles/variables.scss';

.container {
  font-size: 14px;
  color: var(--primaryText);
  letter-spacing: 1.5px;

  li {
    display: inline-block;
    margin: 5px 0;
    width: 25%;
    font-family: 'Courier', courier, sans-serif;

    section {
      display: inline-block;
      vertical-align: middle;
      color: var(--primaryText);

      &:nth-child(1) {
        width: 15%;
        text-align: center;
        opacity: 0.5;
      }

      &:nth-child(2) {
        width: calc(85% - 10px);
        margin: 0 5px;
      }
    }
  }
}
