@import '../../../variables.scss';

.search {
  height: 55px;
  padding: 2px 25px;
  border-top: 1px solid $darkgrey;
  border-bottom: 1px solid $darkgrey;
  background: $white;

  .input {
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  .label {
    width: 5%;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }

  .text {
    width: 95%;
    outline: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-size: 16px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $lightgrey;

  .titleContainer {
    padding: 20px 40px;

    .left {
      padding: 10px 0;

      h1 {
        text-transform: uppercase;
        font-size: 26px;
        margin-right: 5px;
      }
    }
  }

  .addPeerContainer {
    padding: 20px 40px;

    .newPeerButton {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

.refreshContainer {
  padding: 20px 40px 0 40px;
  text-align: right;
  cursor: pointer;

  .refresh {
    text-decoration: underline;

    svg {
      font-size: 12px;
    }
  }
}

.peers {
  padding: 40px;
}