@import '../../variables.scss';

.container {
  section {
    margin: 25px 0;
    padding: 25px;
    border-bottom: 1px solid $darkestgrey;

    h4 {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 10px;

      span {
        color: $blue;
        cursor: pointer;
      }
    }

    .qrcode {
      text-align: center;
      margin-top: 20px;
    }

    p {
      font-family: 'Roboto';
      text-align: center;
      font-size: 14px;
      font-weight: 200;
      border-radius: 7px;
      background: $lightgrey;
      border: 1px solid $main;
      padding: 10px;
    }
  }
}