@import '../../variables.scss';

.wallet {
  background: $bluegrey;
  color: $white;
  transition: background 0.25s;
  height: 150px;
  padding: 20px 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo span svg {
    width: 64px;
    height: 24px;
  }

  .user {
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.left, .right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 150px;

  .leftContent, .rightContent {
    padding: 25px 0;
  }  
}

.leftContent {
  display: flex;
  flex-direction: row;

  .bitcoinLogo svg {
    width: 32px;
    height: 32px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      display: flex;
      flex-direction: row;

      span:nth-child(1) {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin-left: 10px;
        margin-bottom: 5px;
        letter-spacing: 1.5px;
      }

      span:nth-child(2) svg {
        color: $white;
        width: 20px;
        height: 32px;
        opacity: 1;
        margin-left: 5px;
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
          opacity: 0.5;
        }
      }

      .currency {
        margin-left: 2.5px;
      }
    }

    .tickerButtons {
      display: flex;
      flex-direction: row;

      section {
        margin: 5px;
        font-size: 10px;
        border-radius: 5px;
        border: 1px solid $white;
        padding: 5px 10px;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.25s all;

        &.active {
          background: $main;
          color: $spaceborder;
          border-color: $spaceborder;
          opacity: 1;
        }
      }
    }
  }

  svg {
    font-size: 100px;
    color: $main;
  }
}

.rightContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;

  .pay, .request {
    font-size: 16px;
    font-weight: bold;
    color: $white;
    background: $spaceblue;
    padding: 15px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;
    }

    &:nth-child(1) {
      margin-right: 20px;
    }
  }

  .notificationBox {
    text-align: right;
    font-size: 12px;
  }
}

.spinner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.spinner {
  margin: 0 auto;
  height: 20px;
  width: 20px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}
