@import '../../variables.scss';

.wallet {
  cursor: pointer;
  background: $lightgrey;
  transition: background 0.25s;
  height: 150px;
}

.left, .right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 150px;

  .leftContent, .rightContent {
    padding: 25px;
  }  
}

.leftContent {
  display: flex;
  flex-direction: row;

  .bitcoinLogo svg {
    width: 100px;
    height: 100px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      letter-spacing: 1.5px;
    }

    span {
      margin: 2.5px 0;
    }
  }

  svg {
    font-size: 100px;
    color: $main;
  }
}

.rightContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;
  height: calc(100% - 50px);

  div {
    padding: 7px 20px;
    background: $main;
    transition: background 0.25s;
    color: $black;

    &:hover {
      background: darken($main, 10%);
    }

    svg {
      font-size: 35px;
      margin-right: 10px;
    }
  }
}


