@import 'styles/variables.scss';

.wallet {
  background: var(--secondaryColor);
  color: var(--primaryText);
  height: 200px;
  padding: 20px 40px;
}

.qrCode {
  cursor: pointer;
  svg {
    g {
      fill: var(--gray);
    }
  }
}

.notificationBox {
  text-align: right;
  font-size: 12px;

  section {
    display: inline-block;
    vertical-align: middle;
    transition: all 0.25s;
  }

  .spinnerContainer {
    position: relative;
    display: inline;
  }

  .timeout {
    position: absolute;
    top: 20%;
    left: 0;
    font-size: 10px;
    width: 32px;
    text-align: center;
  }

  .icon {
    margin-right: 5px;
  }
}

.txLink {
  text-decoration: underline;
  cursor: pointer;
}
