@import '../../variables.scss';

.wallet {
  background: $bluegrey;
  color: $white;
  transition: background 0.25s;
  height: 150px;
  padding: 20px 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo span svg {
    width: 64px;
    height: 24px;
  }

  .user {
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.left, .right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 150px;

  .leftContent, .rightContent {
    padding: 25px 0;
  }  
}

.leftContent {
  display: flex;
  flex-direction: row;

  .bitcoinLogo svg {
    width: 32px;
    height: 32px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      display: flex;
      flex-direction: row;

      span:nth-child(1) {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin-left: 10px;
        margin-bottom: 5px;
        letter-spacing: 1.5px;
      }

      span:nth-child(2) svg {
        color: $white;
        width: 20px;
        height: 32px;
        opacity: 1;
        margin-left: 5px;
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .usdValue {
      font-size: 12px;
      margin-left: 10px;
      font-style: italic;
    }
  }

  svg {
    font-size: 100px;
    color: $main;
  }
}

.rightContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;

  .pay, .request {
    font-size: 16px;
    font-weight: bold;
    color: $white;
    background: $spaceblue;
    padding: 15px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;
    }

    &:nth-child(1) {
      margin-right: 20px;
    }
  }
}


