@import 'styles/variables.scss';

.container {
  position: relative;
  height: 100vh;
  background: var(--tertiaryColor);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 40px 20px 40px;
  color: var(--primaryText);

  .help {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.info {
  color: var(--primaryText);
  margin-bottom: 20px;
  padding: 10px 40px 20px;
  height: 16vh;

  h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
    width: 70%;
  }
}

.content {
  position: relative;
  background: var(--primaryColor);
  height: 100vh;
  padding: 20px 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 25px 40px;
  color: var(--primaryText);
  width: 100%;

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
