@import 'styles/variables.scss';

.container {
  position: relative;
  height: 100vh;
  background: var(--darkestBackground);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 40px 20px 40px;

  .help {
    color: var(--primaryText);
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.info {
  color: var(--primaryText);
  margin-bottom: 20px;
  padding: 20px 40px;

  h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
    width: 70%;
  }
}

.content {
  position: relative;
  background: var(--lightBackground);
  height: 100vh;
  padding: 40px 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 25px 40px;
  color: var(--primaryText);
  width: calc(100% - 80px);

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nextButton {
      cursor: pointer;
      transition: all 0.25s;
      background: var(--lightningOrange);
      padding: 8px 20px 8px 30px;
      text-align: center;
      border-radius: 5px;

      &:hover {
        opacity: 0.5;
      }
    }

    .backButton {
      cursor: pointer;
      transition: all 0.25s;
      padding: 8px 20px 8px 0;
      text-align: center;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
