@import "~font-awesome/css/font-awesome.css";
@import 'reset.scss';
@import 'variables.scss';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

body {
  position: relative;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  // background: linear-gradient(to bottom, $grey 0%, $black 100%);
  color: $white;
  height: 100vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  font-family: 'Roboto';
}