$white: #fff;
$black: #000;

$main: #ebb864;
$secondary: #1d1d1d;
$grey: #f2f2f2;
$traditionalgrey: #cccccc;
$lightgrey: #F7F7F7;
$darkgrey: #EBEBEB;
$darkestgrey: #999999;
$bluegrey: #555459;

$green: #0bb634;
$red: #ff0b00;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);