$white: #fff;
$black: #000;

$main: #ebb864;
$secondary: #1d1d1d;
$grey: #f2f2f2;
$traditionalgrey: #cccccc;
$lightgrey: #F7F7F7;
$darkgrey: #EBEBEB;
$darkestgrey: #999999;
$bluegrey: #555459;
$spacegrey: #222E2B;

$green: #0bb634;
$terminalgreen: #00FF00;
$red: #FF556A;
$blue: #007bb6;
$orange: #FF8A65;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

$z-layers: (
  "activity": (
    "activities-active":      10,
  ),
  "contact-form": (
    "modal":                 -10,
  ),
  "contacts": (
    "filters-active":         10
  ),
  "canvas-network": (
    "loader":                 20,
    "loader-before":          10
  ),
  "form": (
    "outter-cont":             0,
    "outter-cont-open":       30  // Needs to be higher than canvas-network loader
  ),
  "global-error": (
    "container":             100,
  ),
  "loading-bolt":  (
    "container":              90,
  ),
  "modal-root": (
    "container":              10,
  ),
  "react-modal": (
    "open":                   50
  ),
  "tooltip": (
    "after":                 998,
    "before":                999
  )
);

// Functions for pulling z-index values from $z-layers map
@function z($layer...) {
  @if not map-has-nested-keys($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
  }

  @return map-deep-get($z-layers, $layer);
}

@function map-has-nested-keys($map, $keys) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return false;
    }
    $map: map-get($map, $key);
  }

  @return true;
}

@function map-deep-get($map, $keys) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}
