@import 'styles/variables.scss';

.container {
  color: $white;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $spaceblue;
  width: 85%;
  margin: 50px auto;
  padding: 30px 0;

  .left {
    width: 25%;
    padding: 0 60px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }

    .qrcode {
      border-style: solid;
      border-color: white;
      border-width: 2px;
      margin-bottom: 20px;
    }
  }

  .right {
    width: 75%;
    min-height: 220px;
    border-left: 1px solid $spaceborder;
    padding: 10px 60px;

    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;

      .amount {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        h1 {
          font-size: 40px;
          margin-right: 10px;
        }

        .currentCurrency {
          cursor: pointer;
          transition: 0.25s all;

          &:hover {
            opacity: 0.5;
          }

          span {
            font-size: 14px;

            &:nth-child(1) {
              font-weight: bold;
            }
          }
        }

        ul {
          visibility: hidden;
          position: absolute;
          top: 40px;
          right: -50px;

          &.active {
            visibility: visible;
          }

          li {
            padding: 8px 15px;
            background: #191919;
            cursor: pointer;
            transition: 0.25s hover;
            border-bottom: 1px solid #0f0f0f;

            &:hover {
              background: #0f0f0f;
            }
          }
        }
      }

      .date {
        font-size: 12px;
        text-align: right;

        .notPaid {
          color: $orange;
          margin-top: 5px;
        }

        .paid {
          color: $green;
          margin-top: 5px;
        }
      }
    }

    .memo,
    .request {
      h4 {
        font-size: 10px;
        margin-bottom: 10px;
      }

      p {
        word-wrap: break-word;
        max-width: 450px;
      }
    }

    .memo {
      margin-bottom: 40px;

      p {
        font-size: 20px;
      }
    }

    .request p {
      font-size: 10px;
      max-width: 450px;
      line-height: 1.5;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    text-align: center;
    margin: 35px 10px;
    width: 235px;
    padding: 20px 10px;
    background: #31343f;
    cursor: pointer;
    transition: 0.25s all;

    &:hover {
      background: darken(#31343f, 5%);
    }
  }
}
