@import 'styles/variables.scss';

.container {
  position: relative;
}

.password {
  background: transparent;
  outline: none;
  border: 1px solid #404040;
  border-radius: 4px;
  padding: 15px;
  color: $gold;
  -webkit-text-fill-color: $white;
  font-size: 22px;
}

.password::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.buttons {
  margin-top: 15%;
  text-align: center;

  div {
    color: $white;

    &:nth-child(1) {
      text-align: center;
      margin-bottom: 40px;

      span {
        padding: 15px 35px;
        background: $darkspaceblue;
        font-size: 14px;
        opacity: 0.5;
        transition: all 0.25s;

        &.active {
          opacity: 1;
          cursor: pointer;

          &:hover {
            background: lighten($darkspaceblue, 10%);
          }
        }
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      font-size: 12px;
      cursor: pointer;
      margin: 10px 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
