@import 'styles/variables.scss';

.content {
  color: var(--primaryText);
  margin: 0 auto;
  width: 500px;

  .header {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid $spaceborder;

    h1 {
      margin: 10px 0 15px 0;
      font-size: 22px;
      font-weight: 100;
      letter-spacing: 1.5px;
    }

    p {
      text-align: center;
      line-height: 1.3;
      font-size: 12px;
    }
  }
}

.title {
  margin: 20px 0;
  line-height: 32px;

  h2 {
    font-size: 10px;
    background: var(--lightBackground);
    padding: 10px;
    border-radius: 17.5px;
    display: inline;
  }
}

.warn {
  color: #dea326;
  margin: 20px 0;
  display: flex;

  p {
    flex: 1;
    font-size: 12px;
    line-height: 1.5;
  }

  .exclamation {
    flex: 0 0 25px;
    vertical-align: top;
  }

  .alias {
    background: #252832;
    padding: 2px 5px 4px;
    border-radius: 8px;
    display: inline;
    color: #fff;
    font-size: 10px;
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    font-size: 25px;
    max-width: 180px;
    background: transparent;
    outline: none;
    border: 1px solid #404040;
    border-radius: 4px;
    padding: 15px;
    color: var(--lightningOrange);
    -webkit-text-fill-color: var(--primaryText);
    width: 100%;
    font-weight: 200;
  }
}

.input input::-webkit-input-placeholder,
::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.fiatAmount {
  margin-top: 20px;
  opacity: 0.75;
}

.submit {
  margin-top: 50px;
  text-align: center;
}
