@import 'styles/variables.scss';

.content {
  padding: 0 40px;
  color: $white;
  margin: 0 auto;
  width: 500px;

  .header {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid $spaceborder;

    h1 {
      margin: 10px 0 15px 0;
      font-size: 22px;
      font-weight: 100;
      letter-spacing: 1.5px;
    }

    p {
      text-align: center;
      line-height: 1.3;
      font-size: 12px;
    }
  }
}

.title {
  margin: 20px 0;
  line-height: 32px;

  h2 {
    font-size: 10px;
    background: $spaceblue;
    padding: 10px;
    border-radius: 17.5px;
    display: inline;
  }
}

.warn {
  color: #dea326;
  margin: 20px 0;
  display: flex;

  p {
    flex: 1;
    font-size: 12px;
    line-height: 1.5;
  }

  .exclamation {
    flex: 0 0 25px;
    vertical-align: top;
  }

  .alias {
    background: #252832;
    padding: 2px 5px 4px;
    border-radius: 8px;
    display: inline;
    color: #fff;
    font-size: 10px;
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    font-size: 25px;
    max-width: 110px;
    background: transparent;
    outline: none;
    border: 1px solid #404040;
    border-radius: 4px;
    padding: 15px;
    color: $gold;
    -webkit-text-fill-color: $white;
    width: 100%;
    font-weight: 200;
  }
}

.input input::-webkit-input-placeholder,
::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.currency {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;

  .currentCurrency {
    cursor: pointer;
    transition: 0.25s all;

    &:hover {
      opacity: 0.5;
    }

    span {
      font-size: 14px;

      &:nth-child(1) {
        font-weight: bold;
      }
    }
  }

  ul {
    visibility: hidden;
    position: absolute;
    top: 30px;

    &.active {
      visibility: visible;
    }

    li {
      padding: 8px 15px;
      background: #191919;
      cursor: pointer;
      transition: 0.25s hover;
      border-bottom: 1px solid #0f0f0f;

      &:hover {
        background: #0f0f0f;
      }
    }
  }
}

.fiatAmount {
  margin-top: 20px;
  opacity: 0.5;
}

.submit {
  margin-top: 50px;
  text-align: center;

  .button {
    width: 235px;
    margin: 0 auto;
    padding: 20px 10px;
    background: #31343f;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.25s all;

    &.active {
      background: $gold;
      color: $spacegrey;
      font-weight: bold;
      opacity: 1;

      &:hover {
        background: darken($gold, 5%);
      }
    }
  }
}
