@import '../../../styles/variables.scss';

.seedContainer {
  position: relative;
  display: inline-block;
  font-size: 12px;

  li {
    display: inline-block;
    margin: 5px 0;
    width: 25%;

    section {
      display: inline-block;
      color: $white;
      margin: 0;

      &:nth-child(1) {
        width: 10%;
        text-align: center;
        opacity: 0.5;
      }

      &:nth-child(2) {
        width: calc(90% - 10px);
        margin-right: 10px;
      }
    }
  }
}

.word {
  margin: 0 3px;
  background-color: #1c1e26;
  outline: 0;
  border: none;
  padding: 8px 10px 6px 10px;
  color: $white;
  font-family: 'Courier', courier, sans-serif;
  font-size: 14px;
  line-height: 18px;

  &.valid {
    color: $green;
  }

  &.invalid {
    color: $red;
  }
}

.word::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.contentEditable {
  width: 100px;
  background: red;
}
