@import '../../variables.scss';

.channels {
  color: $white;
  margin-top: 50px;
}

.channel {
  position: relative;
  margin: 20px 0;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background: darken(#353535, 10%);

    .dot {
      background: #88D4A2;
      opacity: 0.5;
    }
  }

  .dot {
    position: absolute;
    top: calc(15% - 10px);
    left: 5%;
    width: 10px;
    height: 10px;
    border: 1px solid #979797;
    border-radius: 50%;

    &.active {
      background: #88D4A2;
    }
  }

  header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    h1 {
      margin-bottom: 10px;
    }

    span {
      font-size: 10px;
      text-decoration: underline;
      transition: all 0.25s;

      &:hover {
        color: #88D4A2;
      }
    }
  }


  section {
    margin: 10px 0;

    h4 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 10px;
      margin-bottom: 5px;
    }
  }

  .funds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
}
