@import '../../variables.scss';

.peers {
  color: $white;
  margin-top: 50px;
}

.peer {
  position: relative;
  margin: 20px 0;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background: darken(#353535, 10%);

    .dot {
      background: #5589F3;
      opacity: 0.5;
    }
  }

  .dot {
    position: absolute;
    top: calc(50% - 10px);
    left: 5%;
    width: 10px;
    height: 10px;
    border: 1px solid #979797;
    border-radius: 50%;

    &.active {
      background: #5589F3;
    }
  }

  h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 8px;
  }
}