@import '../../variables.scss';

.peer {
	position: relative;
	margin: 5px 0;
	padding: 10px;
	border-top: 1px solid $white;
	cursor: pointer;
	transition: all 0.25s;
	list-style: none;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

	&:hover {
		opacity: 0.75;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	&:first-child {
		border: none;
	}

	h4, h1 {
		margin: 10px 0;
	}

	h4 {
		font-size: 14px;
		font-weight: bold;
		color: $black;
	}

	h1 {
		font-size: 18px;
		font-weight: 200;
		color: $main;
	}
}
