@import '../../variables.scss';

.closeContainer {
  background: $lightgrey;
  text-align: right;
  padding: 10px;

  span {
    color: $darkestgrey;
    font-size: 20px;
    cursor: pointer;
  }
}

.header {
  background: $lightgrey;
  padding: 20px;

	h1 {
		color: $black;
		text-align: center;
		margin-bottom: 20px;
		font-weight: bold;
	}

	h2 {
		color: $darkestgrey;
		font-size: 14px;
		text-align: center;
	}
}

.details {
  dl {
    padding: 40px 40px 40px 40px;
  }

	dt {
		text-align: left;
    float: left;
    clear: left;
    font-weight: 500;
    padding: 20px 35px 19px 0;
    color: $black;
    font-weight: bold;
	}

	dd {
		text-align: right;
    font-weight: 400;
    padding: 30px 0 10px 0;
    margin-left: 0;
    border-bottom: 1px solid $darkgrey;
	}
}

.close {
	text-align: center;
  padding-bottom: 40px;

	div {
		margin: 0 auto;
		cursor: pointer;
		font-size: 18px;
    color: $red;
    border: none;
    padding: 0;
    text-align: center;
    transition: all 0.25s;

    &:hover {
    	color: lighten($red, 10%);
    }
	}
}
