@import '../../variables.scss';

.modal {
  position: relative;
  width: 40%;
  margin: 50px auto;
  padding: 40px;
  position: absolute;
  top: auto;
  left: 20%;
  right: 0;
  bottom: auto;
  background: $white;
  outline: none;
  z-index: -2;
  border: 1px solid $darkgrey;
}

.modalClose {
  position: absolute;
  top: -13px;
  right: -13px;
  display: block;
  font-size: 16px;
  line-height: 27px;
  width: 32px;
  height: 32px;
  background: $white;
  border-radius: 50%;
  color: $darkestgrey;
  cursor: pointer;
  text-align: center;
  z-index: 2;
  transition: all 0.25s;
}

.modalClose:hover {
  background: $darkgrey;
}

.title {
	text-align: center;
	font-size: 24px;
	color: $black;
	margin-bottom: 50px;
}

.pubkey, .local, .push {
	display: flex;
	justify-content: center;
	font-size: 18px;
	height: auto;
  min-height: 55px;
  margin-bottom: 20px;
  border: 1px solid $traditionalgrey;
  border-radius: 6px;
  position: relative;
  padding: 0 20px;

	label, input[type=text] {
		font-size: inherit;
	}

	label {
		padding-top: 19px;
  	padding-bottom: 12px;
  	color: $traditionalgrey;
	}

	input[type=text] {
		width: 100%;
		border: none;
  	outline: 0;
  	-webkit-appearance: none;
  	height: 55px;
  	padding: 0 10px;
	}
}

.buttonGroup {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-radius: 6px;
  overflow: hidden;

  .button {
  	cursor: pointer;
		height: 55px;
		min-height: 55px;
		text-transform: none;
		font-size: 18px;
		transition: opacity .2s ease-out;
		background: $main;
    color: $white;
    border: none;
    font-weight: 500;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 55px;

    &:first-child {
    	border-right: 1px solid lighten($main, 20%);
    }
  }
}
