@import '../../variables.scss';

.donutchartTrack{
  fill: transparent;
  stroke: $lightgrey;
  stroke-width: 26;
}
.donutchartIndicator {
  fill: transparent;
  stroke: $main;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray .3s ease;
}

.donutchart {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}
