@import 'styles/variables.scss';

.container {
  color: var(--primaryText);

  h2 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
  }

  .host {
    color: var(--superGreen);
  }
}
