@import '../../../variables.scss';

.wallet {
	background: $lightgrey;
}

.header {
	background: $white;
	padding: 80px 30px;
	text-align: center;
	border-bottom: 1px solid $darkgrey;

	svg {
		width: 100px;
		height: 100px;
	}

	h1 {
		color: $black;
		font-size: 20px;
		margin: 20px 0;
	}
}

.walletData {
	padding: 60px 40px;

	.peers {
		width: 75%;
		margin: 50px auto;

		h3 {
			text-transform: uppercase;
			color: $darkestgrey;
			letter-spacing: 1.6px;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
		}
	}
}
