@import '../../../variables.scss';

.wallet {
	background: $lightgrey;
}

.header {
	background: $white;
	padding: 80px 30px;
	border-bottom: 1px solid $darkgrey;
	text-align: center;

	.walletInfo {
		width: 50%;
		margin: 0 auto;
	}

	svg {
		width: 100px;
		height: 100px;
		text-align: center;
	}

	h1 {
		margin: 20px 0;
		font-weight: 200;
		font-size: 20px;
		color: $black;
		text-align: left;
	}

	.address {
		text-align: left;
		margin-top: 30px;

		.addressButton {
			display: inline-block;
			border: 1px solid $main;
			border-radius: 7px;
			font-size: 10px;
			cursor: pointer;
			padding: 10px;
			color: $main;
			transition: all 0.25s;
			
			&:hover {
				color: $white;
				background: $main;
			}
		}

		.addressOptions {
			display: inline-block;
			margin-left: 30px;

			span {
				margin: 0 5px;
			}
		}
	}
}

.walletData {
	padding: 60px 40px;

	.peers {
		width: 75%;
		margin: 50px auto;

		h3 {
			text-transform: uppercase;
			color: $darkestgrey;
			letter-spacing: 1.6px;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
		}
	}
}
