@import '../../../variables.scss';

.wallet {
	background: $lightgrey;
}

.header {
	background: $white;
	padding: 80px 30px;
	border-bottom: 1px solid $darkgrey;
	text-align: center;

	.walletInfo {
		width: 75%;
		margin: 0 auto;
	}

	svg {
		width: 100px;
		height: 100px;
		text-align: center;
	}

	h1 {
		font-size: 20px;
		margin: 20px 0;
		font-weight: bold;
		color: $black;
		text-align: center;
	}

	.address {
		text-align: center;
		margin-top: 10px;

		input[type=text] {
			width: 50%;
			text-align: center;
			font-size: 14px;
			font-weight: 200;
			border-radius: 7px;
			background: $lightgrey;
			border: 1px solid $main;
			padding: 10px;
		}
	}
}

.walletData {
	padding: 60px 40px;

	.peers {
		width: 75%;
		margin: 50px auto;

		h3 {
			text-transform: uppercase;
			color: $darkestgrey;
			letter-spacing: 1.6px;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
		}
	}
}
