@import '../../styles/variables.scss';

.container {
  color: $white;

  .input {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
    min-height: 14px;
  }

  input {
    background: transparent;
    outline: none;
    border: 1px solid #404040;
    border-radius: 4px;
    padding: 10px;
    color: $gold;
    -webkit-text-fill-color: $white;
    font-size: 18px;
    font-weight: 400;
    width: 600px;
    transition: all 0.25s;

    &.error {
      border: 1px solid $red;
    }
  }

  input::-webkit-input-placeholder {
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }

  .errorMessage {
    margin-top: 10px;
    color: $red;
    height: 10px;
    visibility: hidden;
    font-size: 10px;

    &.visible {
      visibility: visible;
    }
  }
}
