@import '../../styles/variables.scss';

.container {
  color: $white;

  label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
    min-height: 14px;
  }

  input {
    background: transparent;
    outline: none;
    border:1px solid #404040;
    border-radius: 4px;
    padding: 10px;
    color: $gold;
    -webkit-text-fill-color: $white;
    font-size: 18px;
    width: 100%;
    font-weight: 400;
    margin-bottom: 20px;
    width: 600px;
  }

  input::-webkit-input-placeholder {
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }
}
