@import '../../variables.scss';

.input:nth-child(2) {
  margin-top: 40px;
}

.password {
  background: transparent;
  outline: none;
  border: 0;
  color: $gold;
  -webkit-text-fill-color: $white;
  font-size: 22px;
  transition: all 0.25s;

  &.error {
    border-bottom: 1px solid $red;
  }
}

.password::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.errorMessage {
  color: $red;
  margin-top: 10px;
  font-size: 10px;
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}
