@import '../../../variables.scss';

.content {
	position: relative;
	width: 80%;
	display: inline-block;
	vertical-align: top;
	overflow-y: hidden;
}

.titleBar {
  background: $spacegrey;
  height: 20px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}