@import '../../variables.scss';

.nav {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	font-size: 24px;
	background: $secondary;
	height: 100vh;
	position: relative;
	min-width: 15%;
	color: $white;
}

.info {
	padding: 25px 10px 10px 10px;

	.link {
		display: inline-block;
		vertical-align: top;
		list-style-type: none;
		width: 50%;
		cursor: pointer;
	}
}


.currency {
	margin: 0 1px;

	&.active {
		color: $main;
	}

	span {
		display: inline-block;
		vertical-align: middle;

		svg[data-icon='ltc'] {
			width: 24px;
			height: 28px;

			g {
				transform: scale(1.75) translate(-5px, -5px);
			}
		}
	}
}

.logo {
	text-align: center;
	margin-bottom: 50%;

	svg {
		width: 100px;
		height: 100px;
	}
}

.balance {
	text-align: right;
 	color: $main;

 	p {
 		margin: 2px 0;

 		&:first-child {
 			font-size: 14px;
 		}

 		&:nth-child(2) {
 			font-size: 12px;
 		}

 		span {
 			display: inline-block;
 			vertical-align: top;

 			svg[data-icon='ltc'] {
 				width: 10px;
 				height: 10px;

 				g {
 					transform: scale(1.75) translate(-5px, -5px);
 				}
 			}
 		}
 	}
}

.links {
	width: 50%;
	margin: 0 auto;

	.link {
  	color: $darkestgrey;
	  margin-bottom: 20px;
	  padding: 0 10px;
	  opacity: 0.5;
	  cursor: pointer;
	  text-decoration: none;

	  &.active {
	  	color: $main;
	  	opacity: 1.0;
	  }

	  svg {
	  	width: 22px;
	  	height: 22px;
	  }

    span {
    	margin-left: 15px;
    	line-height: 22px;
	    font-size: 18px;
	    font-weight: 500;
	    letter-spacing: .2px;
    }
	}
}

.buttons {
	width: 75%;
	font-size: 18px;
	position: absolute;
  bottom: 10px;
  right: 12.5%;
}

.button {
	text-align: center;
	border-radius: 8px;
	background: $main;
	margin-bottom: 20px;
	padding: 20px 10px;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: .2px;

	&:hover {
		background: lighten($main, 5%);
	}
}

.content {
	width: 80%;
}
