@import '../../../styles/variables.scss';

.container {
  display: block;
  text-align: center;
  font-size: 12px;
  min-height: 12px;

  &.expired {
    color: $red;
  }
}

.caption {
  margin-right: 4px;
}
