.nav {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	font-size: 24px;
	background: #1d1d1d;
	height: 100vh;
	position: relative;
	min-width: 15%;
	color: #ffffff;
}

.info {
	margin-bottom: 50%;
	padding: 10px;

	.link {
		display: inline-block;
		vertical-align: top;
		list-style-type: none;
		width: 33.3%;
		cursor: pointer;
	}
}


.currency {
	margin: 0 5px;

	&.usd {
		color: #ebb864;
		font-weight: bold;
	}
}

.logo {
	text-align: center;
	margin-top: 50px;

	svg {
		width: 100px;
		height: 100px;
	}
}

.wallet {
	text-align: right;
 	color: #ebb864;
}

.links {
	width: 50%;
	margin: 0 auto;

	.link {
	  margin-bottom: 20px;
	  padding: 0 10px;
	  opacity: 0.5;
	  cursor: pointer;

	  &:first-child {
	  	color: #ebb864;
	  	opacity: 1.0;
	  }

	  svg {
	  	width: 22px;
	  	height: 22px;
	  }

    span {
    	margin-left: 15px;
    	line-height: 22px;
	    font-size: 18px;
	    font-weight: 500;
	    letter-spacing: .2px;
    }
	}
}

.buttons {
	width: 75%;
	font-size: 18px;
	position: absolute;
  bottom: 10px;
  right: 12.5%;
}

.button {
	text-align: center;
	border-radius: 8px;
	background: #ebb864;
	margin-bottom: 20px;
	padding: 20px 10px;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: .2px;

	&:hover {
		background: lighten(#ebb864, 5%);
	}
}

.content {
	width: 80%;
}
