@import 'styles/variables.scss';

.container {
  color: var(--primaryText);
  font-size: 12px;
  width: 75%;
  margin: 0 auto;
  background: var(--darkestBackground);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  section {
    &:nth-child(1) {
      font-size: 16px;
      color: var(--primaryText);

      svg {
        width: 16px;
        height: 16px;
        vertical-align: top;
        fill: var(--primaryText);
      }

      span:nth-child(2) {
        margin-left: 5px;
      }
    }

    &.details {
      text-align: right;

      div:nth-child(1) {
        margin-bottom: 5px;
      }

      svg {
        width: 12px;
        height: 12px;
        vertical-align: middle;
      }

      .zap {
        margin-left: 5px;
        cursor: pointer;
        transition: all 0.25s;
      }
    }
  }
}

.amount {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
}

.date {
  text-align: center;
  padding: 20px;
}

.footer {
  background: var(--lightestBackground);
  margin: 20px 0 50px 0;
  padding: 20px;
  text-align: center;

  p {
    cursor: pointer;
  }
}
