@import 'styles/variables.scss';

.container {
  color: $white;

  .input {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
    min-height: 14px;
  }

  textarea {
    background: transparent;
    outline: none;
    border: 1px solid #404040;
    border-radius: 4px;
    padding: 10px;
    color: $gold;
    -webkit-text-fill-color: $white;
    font-size: 14px;
    width: 95%;
    transition: all 0.25s;

    &.error {
      border: 1px solid $red;
    }
  }

  textarea::-webkit-input-placeholder {
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }

  .description {
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.5;
  }

  .errorMessage {
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
    color: $red;
    display: none;

    &.visible {
      display: block;
    }
  }
}
