@import 'styles/variables.scss';

.container {
  position: relative;
}

.password {
  background: transparent;
  outline: none;
  border: 1px solid #404040;
  border-radius: 4px;
  padding: 15px;
  color: var(--lightningOrange);
  -webkit-text-fill-color: var(--primaryText);
  font-size: 22px;
  transition: all 0.25s;

  &.inputError {
    border: 1px solid var(--superRed);
  }
}

.password::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.error {
  margin-top: 20px;
  height: 20px;
  color: var(--superRed);
  visibility: hidden;
  font-size: 12px;
  transition: all 0.25s;

  &.active {
    visibility: visible;
  }
}

.buttons {
  margin-top: 15%;
  text-align: center;
}
