@import 'styles/variables.scss';

.input:nth-child(2) {
  margin-top: 30px;
}

.password {
  background: transparent;
  outline: none;
  border: 1px solid var(--primaryText);
  border-radius: 4px;
  padding: 15px;
  color: var(--lightningOrange);
  -webkit-text-fill-color: var(--primaryText);
  font-size: 22px;
  transition: all 0.25s;

  &.error {
    border: 1px solid var(--superRed);
  }
}

.password::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.errorMessage {
  color: var(--superRed);
  margin-top: 10px;
  font-size: 10px;
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

.helpMessage {
  color: var(--primaryText);
  opacity: 0.87;
  padding-top: 10px;
  font-size: 14px;

  &.red {
    color: var(--superRed);
  }
}
