@import '../../../variables.scss';

.search {
	height: 55px;
	padding: 2px;
	border-bottom: 1px solid $darkgrey;

	.input {
		display: inline-block;
		vertical-align: top;
		height: 100%;
	}

	.label {
		width: 5%;
		line-height: 50px;
		font-size: 25px;
		text-align: center;
		cursor: pointer;
	}

	.text {
		width: 95%;
		outline: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
	}
}

.activities {
	background: $white;

	.header {
		padding: 60px 0 20px 0;
	  margin: 0 auto;

	  section {
		  position: relative;
			margin-left: auto;
			margin-right: auto;
			padding-left: 100px;
			padding-right: 100px;
			max-width: 964px;

			h2 {
				color: $bluegrey;
			}
	  }

	  h2, h2 span {
	  	color: $bluegrey;
	  	cursor: pointer;
			transition: color 0.25s;

	  	&:hover {
	  		color: lighten($bluegrey, 10%);
	  	}
	  }
		
		h2, .filters li {
			text-transform: uppercase;
			letter-spacing: 1.5px;
			color: $darkestgrey;
			font-size: 14px;
			font-weight: 400;
		}

		h2 span.pulldown {
			color: $main;
		}

		.filters {
			display: none;
			
			&.active {
				display: block;
				position: absolute;
				bottom: -100px;
				z-index: 10;

				li {
					margin: 5px 0;
					cursor: pointer;

					&:hover {
						color: $main;
					}
				}
			}
		}
	}
}

.emptyMessage {
	padding: 20px 0 0 100px;
}


.activityContainer {
	background: $white;
	transition: opacity 0.25s;
	padding-bottom: 50px;

	&.pulldown {
		opacity: 0.15;
	}
}

.activityList {
	width: 75%;
	margin: 0 auto;
	background: $white;
}

.activity {
	padding: 0 100px;

	&:hover {
		background-color: #f0f0f0;
    transition-delay: 0s;
    outline: $grey solid 1px;
	}

	.left, .center, .right {
		display: inline-block;
		vertical-align: top;
	}

	.center, .right {
		width: 10%;
	}

	.left {
		width: 80%;
		color: $black;
	}

	.center {
		text-align: center;
	}

	.right {
		text-align: right;
	}
}