.search {
	height: 75px;
	padding: 2px;
	border-bottom: 1px solid #EBEBEB;

	.input {
		display: inline-block;
		vertical-align: top;
		height: 100%;
	}

	.label {
		width: 5%;
		line-height: 70px;
		font-size: 25px;
		text-align: center;
		cursor: pointer;
	}

	.text {
		width: 95%;
		outline: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 68px;
    font-size: 18px;
	}
}

.transactions {
	background: #F7F7F7;
	
	.header {
	  width: 75%;
	  margin: 0 auto;
	  padding: 60px 0 20px 0;
		background: #F7F7F7;
		color: #999;
		text-transform: uppercase;
		font-size: 14px;
	  font-weight: 400;
	  letter-spacing: 1.6px;
	}
}

.activityContainer {
	background: #fff;
	padding: 20px 0;
	
	.activityList {
		width: 75%;
		margin: 0 auto;
		background: #fff;
	}
}

.activity {
	padding: 35px 10px;
	border-bottom: 1px solid #f2f2f2;

	.left, .center, .right {
		display: inline-block;
		vertical-align: top;
	}

	.center, .right {
		width: 10%;
	}

	.left {
		width: 80%;
		color: #000;
	}

	.center {
		text-align: center;
	}

	.right {
		text-align: right;
	}
}
