@import 'styles/variables.scss';

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--primaryColor);
}

.content {
  color: var(--primaryText);
  text-align: center;
  background: var(--primaryColor);

  header {
    text-align: left;
    padding: 20px 40px;
  }

  .title {
    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .hasNotSynced .title {
    margin: 95px;
  }

  .hasSynced .title {
    margin: 30px;
  }

  .address {
    background: var(--primaryColor);

    .textAddress {
      margin-top: 20px;

      span {
        font-size: 12px;

        &.text {
          background: var(--tertiaryColor);
          padding: 10px;
        }

        &.icon {
          background: var(--secondaryColor);
          padding: 10px;
          cursor: pointer;
          transition: all 0.25s;
          color: var(--primaryText);

          &:hover {
            opacity: 0.25;
          }
        }

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .qrcode {
    border-style: solid;
    border-color: var(--primaryText);
    border-width: 2px;
  }
}

.progressContainer {
  color: var(--primaryText);
  text-align: center;
  padding: 40px 0;
  background: var(--secondaryColor);
  position: absolute;
  height: 31vh;
  width: 100%;
  bottom: 0;

  h3 {
    margin-bottom: 20px;
  }

  .progressBar {
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    height: 10px;
    border-radius: 5px;
    background: var(--primaryColor);
  }

  .progress {
    background: var(--lightningOrange);
    height: 10px;
    border-radius: 5px;
    transition: all 0.25s;
  }

  h4 {
    color: var(--lightningOrange);
    margin-top: 10px;
  }

  .progressDetail {
    color: var(--lightningOrange);
    font-size: 12px;
    margin-top: 10px;
  }
}

.spinner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.4);
  border-radius: 999px;
  margin: 0 auto;
  height: 75px;
  width: 75px;
  animation: animation-rotate 1000ms linear infinite;
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}
