@import 'styles/variables.scss';

.network {
  position: relative;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  background: var(--lightestBackground);
  padding-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--lightestBackground);
  padding: 10px 20px;
  color: var(--primaryText);

  h2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
  }

  .channelAmount {
    font-size: 10px;
    opacity: 0.5;
  }

  .addChannel {
    cursor: pointer;
    transition: all 0.25s;

    svg {
      border-radius: 5px;
    }

    &:hover {
      opacity: 0.5;

      svg {
        background: #272931;
      }
    }
  }
}

.channels {
  padding: 20px 0 20px 0;
  overflow-y: auto;

  .listHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;

    h2,
    h2 span {
      color: var(--primaryText);
      cursor: pointer;
      transition: color 0.25s;

      &:hover {
        color: $darkestgrey;
      }
    }

    h2,
    .filters li {
      font-size: 12px;
    }

    .filters {
      display: none;

      &.active {
        display: block;
        position: absolute;
        margin-top: 0;
        z-index: z('network-filters', 'open');

        li {
          margin: 10px 0;
          cursor: pointer;
          color: var(--primaryText);

          &:hover {
            color: $darkestgrey;
          }
        }
      }
    }

    span {
      color: var(--primaryText);
      opacity: 1;
      font-size: 10px;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  ul {
    margin-top: 20px;
    height: calc(100vh - 202px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .fade {
    opacity: 0.1;
  }

  .channel {
    color: var(--primaryText);
    padding: 10px 0 10px 0;
    margin: 10px 0;
    cursor: pointer;

    &:hover {
      background: var(--lightBackground);
    }

    &.selectedChannel {
      background: var(--lightBackground);
      padding-bottom: 0;

      .channelDetails {
        max-height: 500px;
      }
    }

    span:nth-child(1) {
      font-size: 12px;
    }

    .channelTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 20px;

      span {
        &:nth-child(2) {
          margin-left: 10px;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.6px;
          line-height: 17px;
        }

        &:nth-child(3) {
          margin-left: auto;

          svg {
            width: 15px;
            height: 15px;
            opacity: 0.5;
          }
        }
      }
    }

    .online {
      color: var(--superGreen);
    }

    .pending {
      color: var(--lightningOrange);
    }

    .offline {
      color: $darkestgrey;
    }

    .closing {
      color: var(--superRed);
    }

    svg {
      width: 5px;
      height: 5px;
    }
  }
}

.search {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  padding: 10px 20px;
  border-top: 1px solid $darkestgrey;
  background: var(--lightestBackground);

  .input {
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  .label {
    width: 5%;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    color: var(--primaryText);
    opacity: 0.5;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  .text {
    width: calc(95% - 20px);
    background: transparent;
    outline: 0;
    padding: 0 10px;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-size: 12px;
    color: var(--primaryText);
  }
}

.spinner {
  height: 10px;
  width: 10px;
  border: 1px solid rgba(235, 184, 100, 0.1);
  border-left-color: rgba(235, 184, 100, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
  display: inline-block;

  &.closing {
    border: 1px solid rgba(255, 85, 106, 0.1);
    border-left-color: rgba(255, 85, 106, 0.4);
  }
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.channelDetails {
  overflow-y: hidden;
  max-height: 0;
  transition: all 0.25s;

  h4 {
    color: var(--primaryText);
    opacity: 0.5;
    font-size: 9px;
    margin-top: 10px;
    overflow-x: hidden;
    padding: 0 20px;
    letter-spacing: 1.1px;
  }

  .limits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.5px solid #1a1c23;
    margin-top: 10px;
    padding: 20px;

    h5 {
      font-size: 12px;
      color: var(--primaryText);
      margin-bottom: 10px;
      font-weight: 600;
    }

    p {
      color: var(--primaryText);
      opacity: 0.5;
      font-size: 8px;
      text-align: center;
    }
  }

  .actions {
    text-align: center;
    font-size: 12px;
    color: var(--superRed);

    section {
      padding: 20px 0;
      border-top: 0.5px solid #1a1c23;

      div {
        transition: all 0.25s;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .loading {
      margin-right: 5px;

      i {
        vertical-align: top;
      }

      &:nth-child(1) {
        margin-right: 5px;
      }
    }
  }
}
