@import '../../variables.scss';

.container {
  height: 100vh;
  background: $secondary;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 100px;
  }

  h3 {
    font-size: 50px;
    color: $white;
  }

  .loading {
    text-align: center;
    position: relative;

    .spinner, h1 {
      display: inline-block;
      vertical-align: top;
    }

    h4 {
      position: absolute;
      min-width: 100px;
      top: calc(50% - 5px);
      left: calc(50% - 48px);
      color: $main;
      font-size: 10px;
    }

    h1 {
      color: $main;
      line-height: 50px;
      margin-left: 20px;
    }
  }
  
  .facts {
    color: $white;

    .fact {
      transition: all 0.25s;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      line-height: 1.5;
      letter-spacing: 1.1px;
      height: 250px;
      
      h2 {
        font-size: 50px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }

  .factButtons {
    text-align: center;
    margin-top: 25px;
  }

  .factButton {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: $white;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 5px;

    &:hover {
      opacity: 0.75;
    }

    &.active {
      opacity: 1;
    }
  }
}

.aliasForm {
  width: 50%;
  margin: 0 auto;

  h1 {
    text-align: center;
    font-size: 32px;
    color: $white;
  }

  p {
    color: $darkgrey;
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
  }

  .inputContainer {
    text-align: center;
    margin-top: 50px;
  }

  .input {
    padding: 20px;
    font-size: 18px;
    color: $darkestgrey;
    background: lighten($black, 15%);
    border: none;
    outline: 0;
    -webkit-appearance: none;
    font-weight: 200;
    width: calc(100% - 20px);
  }

  .submit {
    background: $main;
    color: $white;
    font-size: 18px;
    cursor: pointer;
    width: 10%;
    margin: 50px auto 0 auto;
    padding: 20px 60px;
    opacity: 0.5;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: darken($secondary, 5%);
  white-space: nowrap;

  section {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    white-space: normal;
    padding: 30px 0;

    h2 {
      color: $white;
      font-size: 22px;
      letter-spacing: 1.2px;
      font-weight: bold;
      margin-bottom: 20px;
      padding: 0 30px;
    }

    p {
      color: $white;
      padding: 0 30px;
      line-height: 1.5;
    }
  }

  .address {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 200;
    background: lighten($black, 15%);
    color: $darkestgrey;
    width: 75%;
    margin: 0 auto;

    span {
      padding: 20px;
    }

    span:nth-child(1) {
      flex: 9;
      overflow-x: scroll;
      font-size: 14px;
    }

    span:nth-child(2) {
      background: $darkestgrey;
      color: $white;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        background: $darkestgrey;
      }
    }
  }
}

.spinner {
  border: 1px solid rgba(235, 184, 100, 0.1);
  border-left-color: rgba(235, 184, 100, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.spinner {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}