@import 'styles/variables.scss';

.content {
  position: relative;
  width: 70%;
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  background: var(--lightBackground);
  padding-top: 20px;
}
