@import 'styles/variables.scss';

.search {
  height: 55px;
  padding: 2px;
  border-bottom: 1px solid $darkgrey;

  .input {
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  .label {
    width: 5%;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
  }

  .text {
    width: 95%;
    outline: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
  }
}

.activities {
  background: var(--darkestBackground);

  .header {
    background: var(--darkestBackground);
    color: var(--primaryText);
    margin: 0 auto;
    padding: 0 40px;
    border-bottom: 1px solid $spaceborder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    transition: all 0.25s;

    &.search {
      background: var(--gradient);

      section {
        &:nth-child(1) {
          width: 90%;
        }
      }

      input {
        background: transparent;
        outline: none;
        border: 0;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 1px;
        color: var(--primaryColor);
        width: 100%;
      }

      .xIcon svg {
        width: 25px;
        height: 25px;
        stroke: var(--white);
      }
    }

    .filters,
    .actions {
      display: flex;
      flex-direction: row;
      user-select: none;

      li {
        position: relative;
        opacity: 0.5;
        font-size: 14px;
        cursor: pointer;

        &.activeFilter {
          opacity: 1;
        }

        &:nth-child(1) {
          margin-left: 0;
        }

        span {
          display: block;
          position: relative;
          margin: 0 15px;
        }

        svg {
          width: 14px;
          height: 14px;
          color: var(--primaryColor);
          opacity: 0.5;
          cursor: pointer;
          transition: all 0.25s;

          &:hover {
            opacity: 1;
          }
        }
      }

      .activeBorder {
        left: 15px;
        right: 15px;
        width: auto;
        height: 1px;
        background: var(--primaryText);
        position: absolute;
        bottom: -1px;
      }
    }
  }
}

.activityContainer {
  background: var(--primaryBackground);
  transition: opacity 0.25s;
  height: calc(100vh - 304px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;

  &.pulldown {
    opacity: 0.15;
  }
}

.activity {
  position: relative;
  padding: 0 60px;
  margin-bottom: 30px;

  h2 {
    color: var(--primaryText);
    font-size: 10px;
    font-weight: bold;
    border-bottom: 0.2px solid #a0a0a0;
    padding: 10px 0;
  }

  .left,
  .center,
  .right {
    display: inline-block;
    vertical-align: top;
  }

  .center,
  .right {
    width: 10%;
  }

  .left {
    width: 80%;
    color: $black;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}

.container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 76px;
  align-items: center;
  font-size: 14px;
  transition: background-color 0.1s linear;
  transition-delay: 0.1s;
  color: var(--primaryText);
  position: relative;

  &.unpaid {
    opacity: 0.5;
  }

  .activityTypeIcon {
    position: absolute;
    left: -5%;
    top: 37%;

    svg {
      width: 16px;
      height: 16px;
      opacity: 0.5;
    }
  }
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 77px;

  svg {
    font-size: 18px;
  }
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  min-width: 90px;

  section {
    margin: 2.5px 0;
  }

  svg {
    width: 12.5px;
    height: 12.5px;
  }

  time {
    font-size: 12px;
  }
}

.data {
  display: flex;
  flex-direction: column;
  flex: 6;
  justify-content: space-evenly;

  &:nth-child(2) {
    font-size: 10px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .subtitle {
    opacity: 0.5;
    font-size: 10px;
  }

  .date {
    font-size: 12px;
  }

  .icon {
    display: inline-block;
    flex: none;
    position: relative;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: #31343f;
    border-radius: 50%;
    margin-right: 5px;

    svg {
      color: var(--primaryText);
      font-size: 10px;
      vertical-align: middle;
      display: flex;
      top: 0;
      left: 50%;
      height: 100%;
      margin: 0 auto;
    }
  }

  h3 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;

    &::after {
      content: ' ';
      display: inline-block;
      width: 3px;
    }
  }
}

.amount {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 12px;
  color: var(--primaryText);

  span {
    &:nth-child(1) {
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      font-size: 10px;
      opacity: 0.5;
    }

    .plus,
    .minus {
      margin-right: 2px;
    }

    .plus {
      color: var(--superGreen);
    }

    .minus {
      color: var(--superRed);
    }
  }
}
