@import 'styles/variables.scss';

.container {
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background: #31343f;
}

.closeContainer {
  text-align: right;
  padding: 20px 40px 0;

  span {
    cursor: pointer;
    opacity: 1;
    transition: 0.25s all;

    &:hover {
      opacity: 0.5;
    }
  }

  svg {
    color: $white;
  }
}

.content {
  padding: 0 40px;
  color: $white;

  .header {
    padding: 20px 100px;

    h1 {
      margin-bottom: 15px;
      font-size: 20px;
    }

    p {
      text-align: center;
      line-height: 1.3;
      font-size: 14px;
    }
  }
}

.header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $spaceborder;

  h1 {
    font-size: 22px;
    font-weight: 100;
    margin-top: 10px;
    letter-spacing: 1.5px;
  }
}

.title {
  margin: 50px 0;

  h2 {
    font-size: 14px;
    background: $spaceblue;
    padding: 10px;
    border-radius: 17.5px;
    display: inline;
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;

  input {
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 0;
    color: $gold;
    -webkit-text-fill-color: $white;
    width: 100%;
    font-weight: 200;
  }
}

.input input::-webkit-input-placeholder,
::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.errorMessage {
  margin-top: 20px;
  font-size: 12px;
  color: $red;
  min-height: 12px;
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

.submit {
  margin-top: 50px;
  text-align: center;

  .button {
    width: 235px;
    margin: 0 auto;
    padding: 20px 10px;
    background: #31343f;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.25s all;

    &.active {
      background: $gold;
      color: $spaceblue;
      font-weight: bold;
      opacity: 1;

      &:hover {
        background: darken($gold, 5%);
      }
    }
  }
}
