@import '../../../../../../variables.scss';

.container {
  header {
    padding: 5px 40px 20px 40px;
    background: $lightgrey;

    .title {
      h2 {
        width: 50%;
        margin: 0 auto 10px auto;
        padding: 5px 0;
        text-transform: uppercase;
        border-bottom: 1px solid $black;
      }
    }
  }

  h1 {
    margin-top: 10px;
    text-align: center;
    color: $main;

    svg {
      width: 15px;
      height: 20px;
      vertical-align: top;
    }

    span svg[data-icon='ltc'] {
      width: 30px;
      height: 30px;
      vertical-align: top;

      g {
        transform: scale(1.75) translate(-5px, -5px);
      }
    }

    .value {
      font-size: 45px;
    }
  }

  h3 {
    font-size: 14px;
    text-align: center;
    color: $darkestgrey;
    margin-top: 30px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 24px;
  }

  dl {
    padding: 40px 40px 0px 40px;
  }

  dt {
    text-align: left;
    float: left;
    clear: left;
    font-weight: 500;
    padding: 20px 35px 19px 0;
    color: $black;
    font-weight: bold;
  }

  dd {
    text-align: right;
    font-weight: 400;
    padding: 29px 0;
    margin-left: 0;
    border-top: 1px solid $darkgrey;
  }
}